In [ ]:
#!python2 Complements/pcap2frame.py --pcap dataset/SUEE1.pcap2frame --protocol udp --utc
# fracamente supervisionado

2019-10-24 14:03:43 Processing: dataset/SUEE8.pcap

In [1]:
import datetime as dt
import pandas as pd
import numpy as np
import socket as sk
import struct as st
import ipaddress as ip

In [2]:
packages = pd.read_csv('SUEE1_TCP.csv', low_memory=False, index_col=[0])

/home/aline/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
packages['source_ip'] = packages.source_ip.apply(lambda x: st.unpack('!I', sk.inet_aton(x))[0])
packages['dest_ip'] = packages.dest_ip.apply(lambda x: st.unpack('!I', sk.inet_aton(x))[0])

In [4]:
packages['tcp_flag'] = packages.tcp_flag.apply(lambda x: int(x, 16))

In [5]:
packages['date'] = packages['date'] + ' ' + packages['time']

In [6]:
packages['date'] = pd.to_datetime(packages['date'], format='%Y%m%d %H:%M:%S', utc=True)

In [7]:
packages.drop(columns=['data', 'time'], inplace=True)

In [8]:
packages

,protocol,source_ip,source_port,dest_ip,dest_port,frame_length,tcp_flag,date
frame,,,,,,,,
1,6,3232235521,80,3232235522,39266,66,17,1970-01-05 02:41:38+00:00
2,6,3232235522,39266,3232235521,80,66,16,1970-01-05 02:41:38+00:00
3,6,3232235521,80,3232235523,9784,54,17,1970-01-05 02:41:38+00:00
4,6,3232235523,9784,3232235521,80,54,16,1970-01-05 02:41:38+00:00
5,6,3232235521,80,3232235524,62170,66,17,1970-01-05 02:41:38+00:00
6,6,3232235521,80,3232235524,62171,66,17,1970-01-05 02:41:38+00:00
7,6,3232235524,62170,3232235521,80,66,16,1970-01-05 02:41:38+00:00
8,6,3232235524,62171,3232235521,80,66,16,1970-01-05 02:41:38+00:00
9,6,3232235521,80,3232235525,63360,66,17,1970-01-05 02:41:38+00:00
10,6,3232235526,34429,3232235521,80,74,2,1970-01-05 02:41:38+00:00
11,6,3232235521,80,3232235526,34429,74,18,1970-01-05 02:41:38+00:00
12,6,3232235527,45730,3232235521,80,74,2,1970-01-05 02:41:38+00:00
13,6,3232235521,80,3232235527,45730,74,18,1970-01-05 02:41:38+00:00
14,6,3232235527,45730,3232235521,80,66,16,1970-01-05 02:41:38+00:00
15,6,3232235527,45730,3232235521,80,66,24,1970-01-05 02:41:38+00:00
16,6,3232235521,80,3232235527,45730,66,16,1970-01-05 02:41:38+00:00
17,6,3232235521,80,3232235527,45730,66,24,1970-01-05 02:41:38+00:00
18,6,3232235527,45732,3232235521,80,74,2,1970-01-05 02:41:38+00:00
19,6,3232235521,80,3232235527,45732,74,18,1970-01-05 02:41:38+00:00
20,6,3232235527,45730,3232235521,80,66,16,1970-01-05 02:41:38+00:00
21,6,3232235527,45732,3232235521,80,66,16,1970-01-05 02:41:38+00:00
22,6,3232235527,45730,3232235521,80,66,24,1970-01-05 02:41:38+00:00
23,6,3232235521,80,3232235527,45730,66,24,1970-01-05 02:41:38+00:00
24,6,3232235526,34429,3232235521,80,66,16,1970-01-05 02:41:38+00:00
25,6,3232235526,34429,3232235521,80,66,24,1970-01-05 02:41:38+00:00
26,6,3232235521,80,3232235526,34429,66,16,1970-01-05 02:41:38+00:00
27,6,3232235521,80,3232235526,34429,66,24,1970-01-05 02:41:38+00:00
28,6,3232235526,34429,3232235521,80,66,16,1970-01-05 02:41:38+00:00
29,6,3232235527,45730,3232235521,80,66,16,1970-01-05 02:41:38+00:00
30,6,3232235528,52972,3232235521,80,74,2,1970-01-05 02:41:39+00:00
...,...,...,...,...,...,...,...,...
2089407,6,3232235521,80,3232236422,38234,66,16,1970-01-05 02:49:22+00:00
2089408,6,3232235521,80,3232237230,35555,74,18,1970-01-05 02:49:22+00:00
2089409,6,3232235521,80,3232237230,32620,74,18,1970-01-05 02:49:22+00:00
2089410,6,3232235521,80,3232237230,42026,74,18,1970-01-05 02:49:22+00:00
2089411,6,3232237195,42642,3232235521,80,66,16,1970-01-05 02:49:22+00:00
2089412,6,3232235528,53188,3232235521,80,74,2,1970-01-05 02:49:23+00:00
2089413,6,3232235521,80,3232235528,53188,74,18,1970-01-05 02:49:23+00:00
2089414,6,3232235528,53188,3232235521,80,66,16,1970-01-05 02:49:23+00:00
2089415,6,3232235528,53188,3232235521,80,66,24,1970-01-05 02:49:23+00:00
2089416,6,3232235521,80,3232235528,53188,66,16,1970-01-05 02:49:23+00:00
2089417,6,3232235521,80,3232235528,53188,66,24,1970-01-05 02:49:23+00:00
2089418,6,3232235528,53188,3232235521,80,66,16,1970-01-05 02:49:23+00:00
2089419,6,3232235528,53188,3232235521,80,66,24,1970-01-05 02:49:23+00:00
2089420,6,3232235528,53190,3232235521,80,74,2,1970-01-05 02:49:23+00:00
2089421,6,3232235521,80,3232235528,53190,74,18,1970-01-05 02:49:23+00:00
2089422,6,3232235521,80,3232235528,53188,66,24,1970-01-05 02:49:23+00:00
2089423,6,3232235528,53190,3232235521,80,66,16,1970-01-05 02:49:23+00:00
2089424,6,3232235535,51876,3232235521,80,54,17,1970-01-05 02:49:23+00:00
2089425,6,3232235521,80,3232235535,51876,54,16,1970-01-05 02:49:23+00:00
2089426,6,3232235535,51879,3232235521,80,66,2,1970-01-05 02:49:23+00:00
2089427,6,3232235521,80,3232235535,51879,66,18,1970-01-05 02:49:23+00:00
2089428,6,3232235535,51879,3232235521,80,54,16,1970-01-05 02:49:23+00:00
2089429,6,3232235535,51879,3232235521,80,54,24,1970-01-05 02:49:23+00:00
2089430,6,3232235521,80,3232235535,51879,54,16,1970-01-05 02:49:23+00:00
2089431,6,3232235521,80,3232235535,51879,54,24,1970-01-05 02:49:23+00:00
2089432,6,3232235528,53188,3232235521,80,66,16,1970-01-05 02:49:23+00:00
2089433,6,3232235535,51879,3232235521,80,54,16,1970-01-05 02:49:23+00:00
2089434,6,3232235521,80,3232237195,42640,66,24,1970-01-05 02:49:24+00:00
2089435,6,3232235527,48110,3232235521,80,74,2,1970-01-05 02:49:24+00:00
2089436,6,3232235521,80,3232235527,48110,74,18,NaT

In [9]:
tcp_flags = np.unique(packages.tcp_flag)

In [10]:
tcp_flags

array([  2,   4,  16,  17,  18,  20,  24,  25,  82, 144, 152, 194])

In [11]:
time = pd.to_datetime('1970-01-05 01:38:10+00:00', format='%Y%m%d %H:%M:%S', utc=True)

In [12]:
packages[packages.date < time]

,protocol,source_ip,source_port,dest_ip,dest_port,frame_length,tcp_flag,date
frame,,,,,,,,
14620,6,3232235521,80,3232235583,44672,66,17,1970-01-05 01:38:06+00:00
14621,6,3232235583,44672,3232235521,80,66,16,1970-01-05 01:38:06+00:00
14622,6,3232235531,60301,3232235521,80,58,2,1970-01-05 01:38:06+00:00
14623,6,3232235521,80,3232235531,60301,58,18,1970-01-05 01:38:06+00:00
14624,6,3232235531,60301,3232235521,80,54,16,1970-01-05 01:38:06+00:00
14625,6,3232235531,60301,3232235521,80,54,24,1970-01-05 01:38:06+00:00
14626,6,3232235521,80,3232235531,60301,54,16,1970-01-05 01:38:06+00:00
14627,6,3232235521,55512,3232235532,443,74,2,1970-01-05 01:38:06+00:00
14628,6,3232235532,443,3232235521,55512,74,18,1970-01-05 01:38:06+00:00
14629,6,3232235521,55512,3232235532,443,66,16,1970-01-05 01:38:06+00:00
14630,6,3232235521,55512,3232235532,443,66,24,1970-01-05 01:38:06+00:00
14631,6,3232235532,443,3232235521,55512,66,16,1970-01-05 01:38:06+00:00
14632,6,3232235532,443,3232235521,55512,66,24,1970-01-05 01:38:06+00:00
14633,6,3232235521,55512,3232235532,443,66,16,1970-01-05 01:38:06+00:00
14634,6,3232235521,55512,3232235532,443,66,24,1970-01-05 01:38:06+00:00
14635,6,3232235532,443,3232235521,55512,66,24,1970-01-05 01:38:06+00:00
14636,6,3232235521,55512,3232235532,443,66,24,1970-01-05 01:38:06+00:00
14637,6,3232235532,443,3232235521,55512,66,16,1970-01-05 01:38:06+00:00
14638,6,3232235532,443,3232235521,55512,66,24,1970-01-05 01:38:06+00:00
14639,6,3232235521,55512,3232235532,443,66,24,1970-01-05 01:38:06+00:00
14640,6,3232235521,55512,3232235532,443,66,17,1970-01-05 01:38:06+00:00
14641,6,3232235532,443,3232235521,55512,66,16,1970-01-05 01:38:06+00:00
14642,6,3232235532,443,3232235521,55512,66,24,1970-01-05 01:38:06+00:00
14643,6,3232235521,55512,3232235532,443,54,4,1970-01-05 01:38:06+00:00
14644,6,3232235532,443,3232235521,55512,66,17,1970-01-05 01:38:06+00:00
14645,6,3232235521,55512,3232235532,443,54,4,1970-01-05 01:38:06+00:00
14646,6,3232235532,443,3232235521,55512,66,16,1970-01-05 01:38:06+00:00
14647,6,3232235521,55512,3232235532,443,54,4,1970-01-05 01:38:06+00:00
14648,6,3232235521,80,3232235531,60301,54,24,1970-01-05 01:38:06+00:00
14649,6,3232235531,60301,3232235521,80,54,16,1970-01-05 01:38:06+00:00
...,...,...,...,...,...,...,...,...
240725,6,3232235537,80,3232235521,43592,66,16,1970-01-05 01:38:09+00:00
240726,6,3232235521,43592,3232235537,80,66,16,1970-01-05 01:38:09+00:00
240727,6,3232235537,80,3232235521,43592,66,16,1970-01-05 01:38:09+00:00
240728,6,3232235521,43592,3232235537,80,66,16,1970-01-05 01:38:09+00:00
240729,6,3232235537,80,3232235521,43592,66,16,1970-01-05 01:38:09+00:00
240730,6,3232235521,43592,3232235537,80,66,16,1970-01-05 01:38:09+00:00
240731,6,3232235537,80,3232235521,43592,66,16,1970-01-05 01:38:09+00:00
240732,6,3232235521,43592,3232235537,80,66,16,1970-01-05 01:38:09+00:00
240733,6,3232235537,80,3232235521,43592,66,16,1970-01-05 01:38:09+00:00
240734,6,3232235521,43592,3232235537,80,66,16,1970-01-05 01:38:09+00:00
240735,6,3232235537,80,3232235521,43592,66,16,1970-01-05 01:38:09+00:00
240736,6,3232235521,43592,3232235537,80,66,16,1970-01-05 01:38:09+00:00
240737,6,3232235537,80,3232235521,43592,66,16,1970-01-05 01:38:09+00:00
240738,6,3232235521,43592,3232235537,80,66,16,1970-01-05 01:38:09+00:00
240739,6,3232235537,80,3232235521,43592,66,16,1970-01-05 01:38:09+00:00
240740,6,3232235521,43592,3232235537,80,66,16,1970-01-05 01:38:09+00:00
240741,6,3232235537,80,3232235521,43592,66,16,1970-01-05 01:38:09+00:00
240742,6,3232235521,43592,3232235537,80,66,16,1970-01-05 01:38:09+00:00
240743,6,3232235537,80,3232235521,43592,66,16,1970-01-05 01:38:09+00:00
240744,6,3232235521,43592,3232235537,80,66,16,1970-01-05 01:38:09+00:00
240745,6,3232235537,80,3232235521,43592,66,16,1970-01-05 01:38:09+00:00
240746,6,3232235521,43592,3232235537,80,66,16,1970-01-05 01:38:09+00:00
240747,6,3232235537,80,3232235521,43592,66,16,1970-01-05 01:38:09+00:00
240748,6,3232235521,43592,3232235537,80,66,16,1970-01-05 01:38:09+00:00
240749,6,3232235537,80,3232235521,43592,66,16,1970-01-05 01:38:09+00:00
240750,6,3232235521,43592,3232235537,80,66,16,1970-01-05 01:38:09+00:00
240751,6,3232235537,80,3232235521,43592,66,25,1970-01-05 01:38:09+00:00
240752,6,3232235521,43592,3232235537,80,66,17,1970-01-05 01:38:09+00:00
240753,6,3232235521,80,3232235880,58527,66,24,1970-01-05 01:38:09+00:00
240754,6,3232235537,80,3232235521,43592,66,16,1970-01-05 01:38:09+00:00

In [13]:
packages.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2089436 entries, 1 to 2089436
Data columns (total 8 columns):
protocol        int64
source_ip       int64
source_port     int64
dest_ip         int64
dest_port       int64
frame_length    int64
tcp_flag        int64
date            datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), int64(7)
memory usage: 143.5 MB

In [14]:
slowloris_low  = st.unpack('!I', sk.inet_aton('10.128.0.1'))[0]
slowloris_high = st.unpack('!I', sk.inet_aton('10.128.0.50'))[0]

In [15]:
slowhttptest_low  = st.unpack('!I', sk.inet_aton('10.128.0.50'))[0]
slowhttptest_high = st.unpack('!I', sk.inet_aton('10.128.0.100'))[0]

In [16]:
slowloris_ng_low  = st.unpack('!I', sk.inet_aton('10.128.0.100'))[0]
slowloris_ng_high = st.unpack('!I', sk.inet_aton('10.128.0.150'))[0]

In [17]:
def features(grouped_data): 
    
    number_requisitions = np.sum(grouped_data['dest_port'] == 80) + np.sum(grouped_data['dest_port'] == 443)
    number_different_destinations = len(np.unique(grouped_data['dest_ip']))
    mean_frame_length = grouped_data['frame_length'].mean()
    
    data = {
            'number_requisitions'           : [number_requisitions], 
            'number_different_destinations' : [number_different_destinations], 
            'mean_frame_length'             : [mean_frame_length]
           }

    for flag in tcp_flags:
        data['flag_' + str(flag)] = [np.sum(grouped_data['tcp_flag'] == flag)]
    
    return pd.DataFrame(data)

In [18]:
grouped = packages.groupby([
    pd.Grouper(key='date', freq='10s'), 
    pd.Grouper(key='source_ip')
    ]).apply(features)

In [19]:
grouped.head()

                                        number_requisitions  \
date                      source_ip
1970-01-05 01:38:00+00:00 3232235521 0                   55
                          3232235524 0                    2
                          3232235529 0                    4
                          3232235530 0                    3
                          3232235531 0                   14

                                        number_different_destinations  \
date                      source_ip
1970-01-05 01:38:00+00:00 3232235521 0                             12
                          3232235524 0                              1
                          3232235529 0                              1
                          3232235530 0                              1
                          3232235531 0                              1

                                        mean_frame_length  flag_2  flag_4  \
date                      source_ip
1970-01-05 01:38:00+00:00 3232235521 0          64.100000       3       3
                          3232235524 0          66.000000       0       0
                          3232235529 0          55.000000       1       0
                          3232235530 0          68.666667       1       0
                          3232235531 0          54.571429       2       0

                                        flag_16  flag_17  flag_18  flag_20  \
date                      source_ip
1970-01-05 01:38:00+00:00 3232235521 0       47        9        5        0
                          3232235524 0        2        0        0        0
                          3232235529 0        2        0        0        0
                          3232235530 0        1        1        0        0
                          3232235531 0        7        2        0        0

                                        flag_24  flag_25  flag_82  flag_144  \
date                      source_ip
1970-01-05 01:38:00+00:00 3232235521 0       13        0        0         0
                          3232235524 0        0        0        0         0
                          3232235529 0        1        0        0         0
                          3232235530 0        0        0        0         0
                          3232235531 0        3        0        0         0

                                        flag_152  flag_194
date                      source_ip
1970-01-05 01:38:00+00:00 3232235521 0         0         0
                          3232235524 0         0         0
                          3232235529 0         0         0
                          3232235530 0         0         0
                          3232235531 0         0         0

In [20]:
def turnToPercentil(dataset, summary, column_name):

    for i in range(len(summary.index)):
        
        if summary[column_name][i] > 0:

            data_percentil = dataset.loc[summary.index[i], column_name] / summary[column_name][i]
            dataset.loc[summary.index[i], column_name] = data_percentil.values

In [21]:
def normalizationPerTimePeriod(dataset):
    
    summary = dataset.groupby('date').sum()
    
    column_names= dataset.columns.values
    column_names = np.delete(column_names, 2)
    
    for column in column_names:
        
        turnToPercentil(dataset, summary, column)

In [22]:
normalizationPerTimePeriod(grouped)

In [23]:
grouped.head()

                                        number_requisitions  \
date                      source_ip
1970-01-05 01:38:00+00:00 3232235521 0             0.239130
                          3232235524 0             0.008696
                          3232235529 0             0.017391
                          3232235530 0             0.013043
                          3232235531 0             0.060870

                                        number_different_destinations  \
date                      source_ip
1970-01-05 01:38:00+00:00 3232235521 0                       0.203390
                          3232235524 0                       0.016949
                          3232235529 0                       0.016949
                          3232235530 0                       0.016949
                          3232235531 0                       0.016949

                                        mean_frame_length  flag_2  flag_4  \
date                      source_ip
1970-01-05 01:38:00+00:00 3232235521 0          64.100000   0.375    0.75
                          3232235524 0          66.000000   0.000    0.00
                          3232235529 0          55.000000   0.125    0.00
                          3232235530 0          68.666667   0.125    0.00
                          3232235531 0          54.571429   0.250    0.00

                                         flag_16   flag_17  flag_18  flag_20  \
date                      source_ip
1970-01-05 01:38:00+00:00 3232235521 0  0.201717  0.375000    0.625      0.0
                          3232235524 0  0.008584  0.000000    0.000      0.0
                          3232235529 0  0.008584  0.000000    0.000      0.0
                          3232235530 0  0.004292  0.041667    0.000      0.0
                          3232235531 0  0.030043  0.083333    0.000      0.0

                                         flag_24  flag_25  flag_82  flag_144  \
date                      source_ip
1970-01-05 01:38:00+00:00 3232235521 0  0.083333      0.0      0.0       0.0
                          3232235524 0  0.000000      0.0      0.0       0.0
                          3232235529 0  0.006410      0.0      0.0       0.0
                          3232235530 0  0.000000      0.0      0.0       0.0
                          3232235531 0  0.019231      0.0      0.0       0.0

                                        flag_152  flag_194
date                      source_ip
1970-01-05 01:38:00+00:00 3232235521 0       0.0       0.0
                          3232235524 0       0.0       0.0
                          3232235529 0       0.0       0.0
                          3232235530 0       0.0       0.0
                          3232235531 0       0.0       0.0

In [24]:
grouped['y'] = 0

In [25]:
dataset = grouped.reset_index()

In [26]:
slowloris    = (dataset.source_ip >= slowloris_low) & (dataset.source_ip < slowloris_high)
slowhttptest = (dataset.source_ip >= slowhttptest_low) & (dataset.source_ip < slowhttptest_high)
slowloris_ng = (dataset.source_ip >= slowloris_ng_low) & (dataset.source_ip < slowloris_ng_high)

In [27]:
dataset.loc[slowloris, 'y']    = 1
dataset.loc[slowhttptest, 'y'] = 2
dataset.loc[slowloris_ng, 'y'] = 3

In [28]:
np.unique(dataset['y'], return_counts=True)

(array([0, 1, 2, 3]), array([22794,   833,  1263,   857]))

In [29]:
dataset.set_index(['date', 'source_ip'], inplace=True)

In [30]:
dataset.drop(columns=['level_2'], inplace=True)

In [31]:
dataset.head()

                                      number_requisitions  \
date                      source_ip
1970-01-05 01:38:00+00:00 3232235521             0.239130
                          3232235524             0.008696
                          3232235529             0.017391
                          3232235530             0.013043
                          3232235531             0.060870

                                      number_different_destinations  \
date                      source_ip
1970-01-05 01:38:00+00:00 3232235521                       0.203390
                          3232235524                       0.016949
                          3232235529                       0.016949
                          3232235530                       0.016949
                          3232235531                       0.016949

                                      mean_frame_length  flag_2  flag_4  \
date                      source_ip
1970-01-05 01:38:00+00:00 3232235521          64.100000   0.375    0.75
                          3232235524          66.000000   0.000    0.00
                          3232235529          55.000000   0.125    0.00
                          3232235530          68.666667   0.125    0.00
                          3232235531          54.571429   0.250    0.00

                                       flag_16   flag_17  flag_18  flag_20  \
date                      source_ip
1970-01-05 01:38:00+00:00 3232235521  0.201717  0.375000    0.625      0.0
                          3232235524  0.008584  0.000000    0.000      0.0
                          3232235529  0.008584  0.000000    0.000      0.0
                          3232235530  0.004292  0.041667    0.000      0.0
                          3232235531  0.030043  0.083333    0.000      0.0

                                       flag_24  flag_25  flag_82  flag_144  \
date                      source_ip
1970-01-05 01:38:00+00:00 3232235521  0.083333      0.0      0.0       0.0
                          3232235524  0.000000      0.0      0.0       0.0
                          3232235529  0.006410      0.0      0.0       0.0
                          3232235530  0.000000      0.0      0.0       0.0
                          3232235531  0.019231      0.0      0.0       0.0

                                      flag_152  flag_194  y
date                      source_ip
1970-01-05 01:38:00+00:00 3232235521       0.0       0.0  0
                          3232235524       0.0       0.0  0
                          3232235529       0.0       0.0  0
                          3232235530       0.0       0.0  0
                          3232235531       0.0       0.0  0

In [32]:
#continuação by Aline -> objetivo: encontrar o delta (frequência para analisar os pacotes)

In [36]:
# seperação do dataset de forma balanceada 
from sklearn.model_selection import StratifiedShuffleSplit

In [35]:
dataset.drop(columns=['y']).head()

                                      number_requisitions  \
date                      source_ip
1970-01-05 01:38:00+00:00 3232235521             0.239130
                          3232235524             0.008696
                          3232235529             0.017391
                          3232235530             0.013043
                          3232235531             0.060870

                                      number_different_destinations  \
date                      source_ip
1970-01-05 01:38:00+00:00 3232235521                       0.203390
                          3232235524                       0.016949
                          3232235529                       0.016949
                          3232235530                       0.016949
                          3232235531                       0.016949

                                      mean_frame_length  flag_2  flag_4  \
date                      source_ip
1970-01-05 01:38:00+00:00 3232235521          64.100000   0.375    0.75
                          3232235524          66.000000   0.000    0.00
                          3232235529          55.000000   0.125    0.00
                          3232235530          68.666667   0.125    0.00
                          3232235531          54.571429   0.250    0.00

                                       flag_16   flag_17  flag_18  flag_20  \
date                      source_ip
1970-01-05 01:38:00+00:00 3232235521  0.201717  0.375000    0.625      0.0
                          3232235524  0.008584  0.000000    0.000      0.0
                          3232235529  0.008584  0.000000    0.000      0.0
                          3232235530  0.004292  0.041667    0.000      0.0
                          3232235531  0.030043  0.083333    0.000      0.0

                                       flag_24  flag_25  flag_82  flag_144  \
date                      source_ip
1970-01-05 01:38:00+00:00 3232235521  0.083333      0.0      0.0       0.0
                          3232235524  0.000000      0.0      0.0       0.0
                          3232235529  0.006410      0.0      0.0       0.0
                          3232235530  0.000000      0.0      0.0       0.0
                          3232235531  0.019231      0.0      0.0       0.0

                                      flag_152  flag_194
date                      source_ip
1970-01-05 01:38:00+00:00 3232235521       0.0       0.0
                          3232235524       0.0       0.0
                          3232235529       0.0       0.0
                          3232235530       0.0       0.0
                          3232235531       0.0       0.0

In [43]:
colunas = dataset.columns

In [39]:
X = dataset.drop(columns=['y']).values
y = dataset.y
sss = StratifiedShuffleSplit(n_splits=5, test_size=0.2, random_state=42)
sss.get_n_splits(X, y)

for train_index, test_index in sss.split(X, y):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]

In [48]:
y_train.value_counts() / y_train.value_counts().sum()

0    0.885323
2    0.049036
3    0.033306
1    0.032335
Name: y, dtype: float64

In [49]:
y_test.value_counts() / y_test.value_counts().sum()

0    0.885243
2    0.049126
3    0.033204
1    0.032427
Name: y, dtype: float64

In [60]:
#Aplicando o MultinominalNB

from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import ComplementNB
from sklearn.metrics import precision_score

In [65]:
clf = ComplementNB()
clf.fit(X_train, y_train)

ComplementNB(alpha=1.0, class_prior=None, fit_prior=True, norm=False)

In [66]:
y_pred = clf.predict(X_test)
precision_score(y_test, y_pred, average='weighted')

/home/aline/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

0.8878882340003588